web/public/lineageServer/faces
web/public/photoServer/photos/*.jp*g

data/diffDownloads/*.zip
data/diffDownloads/*.tar.gz
data/diffDownloads/retroserver
data/diffDownloads/patches
data/diffDownloads/patches/*.txt
data/diffDownloads/patches/*.dbz
data/diffDownloads/patches/*.php

OneLifeData7/

# Symlink
web/public/downloads
